<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    .block{
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    @media (max-width: 600px) {
      .form3 {
        width: 85% !important;
        padding: 20px;
      }
      .block{
        padding-top: 5px;
      }
    }
</style>
<body>
    <div class="main3">
        <div class="form3">
            <h3 class="heading4">Log In to The EventHub</h3>
            <% if (typeof error !== 'undefined') { %>
                <p style="color: red; text-align: center; font-size: 15px;"><%= error %></p><br>
            <% } %>

            <p class="c">Don't have an account? <a href="/signup">Register</a></p><br><br>
            <form action="/login" method="post">
                
                <div class="block">
                    <label for="username">Enter Username: </label>
                    <input type="text" id="username" name="username" style="outline: none;"  required>
                </div>

                <div class="block">
                    <label for="password">Enter Password: </label>
                    <input type="password" id="password" name="password" style="outline: none;" required>
                </div>

                <div class="block">
                    <button type="submit" class="btn b">Log in</button><br><br>
                </div>
            </form>
          
        </div>
    </div>
</body>
</html>
