*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #f4f6f7;
    background-color: black;
    overflow-x: hidden;
}
body, html {
  min-height: 100vh;
  width: 100%;
}

.container, .main, .footer, .upcoming, .logo , input, label, .svgs, select{
  width: 100%;
}
h1{
    font-weight: 220;
}
h2{
    font-weight: 180;
}
header{
  width: 100%;
  background-color: #FFFADC;
  background-color: rgb(0, 60, 61);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(196, 189, 189, 0.616);
}
header ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header li{
  padding: 20px 20px;
}
header li:nth-child(1){
  margin-right: auto;
}
.sidebar{
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(5px);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: none;
    z-index: 1000;
    top: 0;
    right: 0;
    padding: 20px 30px;
    transition: all 0.3s ease;

}
.sidebar li{
   list-style-type: none;
   padding: 10px 0;
}
.btn, .submit-btn
{
    background: transparent;
    border: none;
    height: 32px;
    border-radius: 0.5rem;
    font-size : 16px;
    color: white;
}
.submit-btn{
  color: black; 
}

.btn:hover, .submit-btn:hover{
   background-color: black;
   color: white;
   border: 1px solid white;
   transition: all 0.3s ease;
}
.menu-button{
    display: none;
}
.login {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  color: white;
}

.text{
  visibility: hidden;
  width: auto;
  max-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 100;
  top: 70%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease;
}
.login:hover .text{
  visibility: visible;
  opacity: 1;
}
.title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: 550;
    font-style: normal;
    color: white;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 200px;
    text-align: center;
    background-color: #FFFADC;
    background-color: rgb(0, 60, 61);
}
.description > * {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s ease, transform 1s ease;
}
.description.visible >* {
    opacity:1 ;
    transform: translateY(0);
}
.Welcome{
    font-size: 30px;
    color: white;
}
.tagline{
    font-size: 18px;
    font-weight: 150;
    color: white;
}

.main1, .main2, .main3{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form1{
    width: 40%;
    background-color: white;
    padding: 1% 1%;
    border-radius: 1rem ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);
}

input{
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    opacity: 0.5;
}

label{
   font-weight: 400;
   color: #393E46;
   font-size: 17px;
}
.a, .aa{
    text-align: center;
    font-size: 28px;
    font-weight: 220;
}
.b{
    width: 100%;
    border: 1px solid black;
    font-size: 16px;
}

.form2{
    width: 30%;
    background-color: white;
    padding: 1% 1%;
    border-radius: 1rem ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);

}

.form3, .form4{
    width: 30%;
    background-color: white;
    padding: 1% 1%;
    border-radius: 1rem ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);
}
.heading4{
    text-align: center;
    font-size: 28px;
    margin: 20px 0 20px;
    color: #273F4F;
    font-weight: 220;
}
.c{
    margin-top: -15px;
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}
.svgs{
    width: 40%;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer {
  background-color: #222;
  background-color: rgb(0, 60, 61);
  color: #ddd;
  padding: 40px 20px 10px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 200px;
}

.footer-section h3 {
  color: #fff;
  color: orange;
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer .icons a {
  color: #ccc;
  font-size: 18px;
  margin-right: 12px;
  text-decoration: none;
}

.footer .icons a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 15px;
  font-size: 13px;
}
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.icon-circle {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.icon-circle:hover {
  background-color: #fff;
  color: #222;
  transform: scale(1.1);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 20px;
  gap: 30px;
}

.Eventcard {
  width: 340px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  padding: 15px;
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

.Eventcard.visible{
  transform: translateY(0);
  opacity: 1;
}

.event_img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Eventcard:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
} 

.Eventcard h3 {
  font-size: 20px;
  color: #273F4F;
  margin-bottom: 10px;
}

.Eventcard p {
  margin: 4px 0;
  font-size: 15px;
  color: #555;
}

.book {
  width: 100%;
  margin-top: 10px;
  background-color: #273F4F;
  color: white;
  padding: 7px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.book:hover {
  background-color: #1a2c38;
}

.upcoming, .heading3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.heading3{
  margin: 0 20px;
}

.schedule {
  width: 100%;
  background-color: #f0eac3;
  padding: 30px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 12px;
}

.add, .delete, .edit {
  width: 160px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add { background-color: #4CAF50; }
.add:hover { background-color: #45a049; }

.delete { background-color: #E53935; }
.delete:hover { background-color: #d32f2f; }

.edit { background-color: #FFC107; color: black; }
.edit:hover { background-color: #e0ac07; }


.event-select {
  width: 100%;
  padding: 8px 10px;
  border: none;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: border-color 0.3s ease;
}

.event-select:focus {
    outline: none;
    border-color: rgb(173, 173, 221);
    box-shadow: 0 0 0 2px rgba(90, 130, 126, 0.3);
    /* background-color: #f9f9f9; */
}

.review_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  /* background: linear-gradient(to right, #1e1e2f, #2c2c3e); */
  /* border-radius: 15px; */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  
}

.review1 {
  /* flex: 1 1 300px; */
  width: 45%;
  background-color: #ffffff10;
  background: linear-gradient(to right, #1e1e2f, #2c2c3e); 
  color: #ffffff;
  padding: 20px 25px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 1.6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stars i{
  color: #fcd34d; 
  font-size: 18px;
  margin-bottom: 10px;
}
.review1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.1);
}

.review1 span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #a1f7c4;
}


@media (max-width: 768px) {
  .main1, .main2, .main3 {
    height: 100vh;
    /* align-items: flex-start; */
  }
  
  .hide{
     display: none;
   }
  .menu-button{
    display: block;
  }
  .form1, .form2, .form3, .form4 {
    width: 80%;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  label {
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .btn.b {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-top: 8px;
    background-color: #273F4F;
    color: white;
    border: none;
    text-align: center;
  }

  .svgs {
    width: 100%;
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .a, .aa, .heading4 {
    font-size: 22px;
    text-align: center;
    font-weight: 300;
  }

  .c {
    font-size: 13px;
  }
}


@media (max-width: 768px) {
  .header {
    height: 55px;
  }

  header li{
    padding : 13px 20px
  }

  .title {
    font-size: 28px;
  }
  .name{
    font-weight: 500;
  }
  .btns {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px 0;
  }

  .description {
    height: auto;
    padding: 10px 10px;
    text-align: center;
  }

  .Welcome {
    font-size: 20px;
    font-weight: 450;
  }

  .tagline {
    font-size: 16px;
    font-weight: 250;
  }

  .description > * {
    transform: none !important;
    opacity: 1 !important;
  }

  .review1{
    flex: 1 1 100%;
  }
}
